<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-light bg-body-tertiar align-content-center bg-secondary bg-gradient">
        <div class="container-fluid justify-content-between w-600">
            <a class="navbar-brand text-white" href="#">Home</a>

            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-circle mb-3" style="width: 48px;"
                alt="Avatar" />
        </div>
    </nav>
    <main class="m-auto mt-4 text-center">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-circle mb-3" style="width: 150px;"
            alt="Avatar" />

         <h5 class="mb-2"><strong>{{ usuario_logado }},</strong></h5>
        <p class="text-muted">Seja Bem-Vindo<span class="badge bg-primary">PRO</span></p>

        <a href="/logout" class="btn btn-secondary">
            Sair
        </a>


    </main>
</body>

</html>